
/* variable codes for sizes used on the slack website  */
$color-blue: #1264a3;
$color-purple: #611f69;
$color-dkpurple: #4a154b;
$color-blk: #1d1d1d;
$color-wh: #ebeaeb;
$content-width: 114rem;
$billboardwidth: 90%;
$light-grey: #696969;
$horizontal-space: 5rem;



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font: 500 1.5rem/1.5 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: $color-blk;
}

#container {
    overflow: auto;
}
//entire layout of the webpage

@mixin clear {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//layout of the grid system
.row {
    @include clear;
    
    [class^='col'] {
        float: left;
        &:not(:last-child) {
            margin-right: $horizontal-space;
        }
    }
    .col-md-2 {
        width: calc((100% - #{$horizontal-space}) / 2);
    }
    .col-sm-3 {
        width: calc((100% - 2 * #{$horizontal-space}) / 3);
    }
}


%nav-ls {
    position: absolute;
}
%btn-size {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: .4rem;
}
.sm-btn {
    padding: 1.2rem 1.4rem 1.3rem;
}
.lg-btn {
    padding: 1.5rem 3rem 2rem;
    margin-right: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
strong {
    font-size: 1.2rem;
}
span {
    font-size: 1.25rem;
    display: block;
    font-weight: 500;
}
.md {
    font-size: 5.2rem;
}
p {
    font-weight: 500;
    line-height: 1.5;
}
h1 {
    padding: 1rem 0 0 0;
    font-size: calc(2rem + (14 * (90vw - 200px)/ 390));
    line-height: 1.2;
    letter-spacing: -.2rem;
}
h3 {
    font-size: 1.5rem;
    padding: 2rem 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $color-blk;
}

.clientinfo {
    float: right;
    letter-spacing: .05rem;
    margin: 8.1rem 0 -1.5rem 0;
    i { color: $color-blue; }
    a { color: $color-blue; padding-right: 2.5rem;}
}
.clienteverlane {
    float: right;
    letter-spacing: .05rem;
    margin: 9.1rem 0 -1.5rem;
    i { color: $color-blue; }
    a { color: $color-blue; padding-right: 2.5rem; }
}
.clientlyft {
    float: right;
    letter-spacing: .05rem;
    margin: 5.4rem 0 -1.5rem;
    i { color: $color-blue; }
    a { color: $color-blue; padding-right: 2.5rem; }
}
.featureinfo {
    letter-spacing: .05rem;
    i { color: $color-blue; }
    a { color: $color-blue; padding-right: 12rem; }
}
.un {
    margin-top: 8.5rem;
}
.tri {
    margin-top: 5.2rem;
}
.duo {
    margin-top: 2.5rem;   
}
.sm-lnt{
    width: $billboardwidth;
}
.fbox {
    padding: .5rem 0 0;
    font-size: 2rem;
    font-weight: 600;
}   
.svgimage {
    width: 15%;
}

.mg-bt {
    margin: 4rem auto;
}
.bgw {
    background: $color-wh;
}
        
%arrow {
    position: absolute;
    right: 8%;
}

//header section of slack homepage
   
    .heading {
        border: 0;
        height: 6.5rem;
        border-bottom: 1px solid $color-wh;
            .nav-bar {
                @include clear;
                position: relative;
                &_logo img { width: 10.5%; }
                &-ltr {
                float: left;      
                    .nav {
                        @extend %nav-ls;
                        top: 25%;
                        left: 13%;
                        a { display: block; }
                        &-item {
                            position: relative;
                            display: inline-block;
                            font-size: 1.45rem;
                            font-weight: 500;
                            margin: .5rem 3rem 0 0;
                            padding-bottom: 1.2rem;
                            &:hover > ul { display: block; }
                            ul {
                                display: none;
                                width: 22rem;
                                position: absolute;
                                left: -30%;
                                border: 1px solid $color-wh;
                                border-radius: .5rem;
                                margin-top: 1rem;
                                z-index: 1;
                                box-shadow: 0 .5rem 1.7rem 0 rgba(0,0,0, .1);
                                background-color: #fff;

                                ul {
                                    position: absolute;
                                    top: -3.1%;
                                    left: 21.8rem;
                                    width: 24rem;
                                    height: 63vh;
                                    display: none;
                                    border-radius: 0 .5rem .5rem 0;
                                    box-shadow: 0 0 0 0;
                                }               
                                a { margin: 1.2rem 1rem; padding: 0 1rem .5rem; 
                                    &:hover {color: $color-blue; }
                                }
                            }
                            .toggle { border-radius: .5rem 0 0 .5rem; }
                            ul .toggler {
                                border-radius: .5rem 0 0 .5rem;
                                a:hover, a:focus, a:active { background-color: $color-wh; color: $color-blk; }
                            }
                        }
                    }
                }
                &-rtl {
                    float: right;
                    @extend %nav-ls;
                    top: 32%;
                    right: 2%; 
                    a:hover { background: $color-dkpurple; }
                }
            }
        }

         /* ===== fixed navigation bar ====== */
                .nav-bar-fixed {
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    padding: 0 3rem;
                    z-index: 9999;
                    background: #ffffff;
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
                }
                            
            .nav-item .nav-item-ext li:hover ul {
                display: block;
            }
                .btn { 
                    @extend %btn-size;   
                    &-dk {
                    background-color: $color-purple;
                    color: #fff; } 
                    &-wh {
                        background: transparent;
                        border: 1px solid #611f69;
                        fill: #611f69; }              
                }

        .ls a:hover { color: $color-blue; }

            .arrow1 {
            @extend %arrow;
                top: 4.5%;
            }
            .arrow2 {
                @extend %arrow;
                top: 15%;
            }
            .arrow3 {
                @extend %arrow;
                top: 26%;
            }

    //main section of the homepage

    .workspace-admin {
        margin-top: 3rem;
        font-weight: 600;
        a {
            border-bottom: 1px solid $color-blue;
            padding: .1rem;
            color: $color-blue; 
        }
    }
    .workspace {
        font-weight: 600;
        margin-top: 3.5rem;
    }
    .post {
        color: darken($color-wh, 60%);
        font-size: 1.6rem;
    }
    .postmsg {
        color: darken($color-wh, 100%);
        font-size: 1.2rem;
    }
    .vid1 {
        box-shadow: 0 .5rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .main-section {
        max-width: $content-width;
        .content {
            padding: 4rem 0 3rem;
            &-msg {
                margin: 1.5rem 0 0 0;
                width: 79%;
                font-size: 1.8rem;
            }
            &-btn { margin: 4rem 0 0 0; 
                a:last-child:hover { border: 2px solid $color-dkpurple; }
            }
         }
         .icon { margin: 6rem 0; }
    }
   
        .feature {
            width: 70%;
            &_top {
                text-align: center;
                &_msg {
                    font-size: 1.6rem;
                    padding: 2rem 0 0; }
            }    
        }

        .slack-benefit {
            border-bottom: 1px solid $color-wh;
            margin: 2rem 0 3rem;
            padding: .5rem 1rem 4rem;
            .row {
                width: $content-width;
                 }
            p { font-size: 1.6rem; }
        }

    %channel {
        padding: 1.5rem 0 0;
        font-size: 1.7rem;
    }
    %cnt {
        margin: 4rem 0 0;
        padding: 3.5rem;
    }
            .channels {
                max-width: $content-width;
                margin: 0 auto;
                    .content {
                        @extend %cnt;
                        &-msg {
                            @extend %channel;
                            width: 85%;
                        a { color: $color-blue; }
                    }   
                }
            }   

            .shared-channels {
                max-width: $content-width;
                margin: 0 auto;
                .content {
                    @extend %cnt;
                    &-msg {
                    @extend %channel;
                    a { color: $color-blue; }
                }
            }   
            .vid { padding-left: 1rem ; }
        }
        
    .feedback {
        background-color: lighten($color-wh, 3%);
        padding: 3rem 0 5rem;
        &_top {
            width: 50%;
            text-align: center; }
        &_msg {
            font-size: 1.7rem;
            padding: 3rem 0 0;       
            a { color: $color-blue; }
        }
            &_container {
                max-width: 1000px;
                position: relative;
                margin: auto; }
            &_client {
                @include clear;
                width: $billboardwidth;
                display: none;
                &:hover {
                    transform: scale(1.05) translateY(.5rem); transition: all .3s ease-out; }
                    &_banner {
                        width: 38%;
                        float: left; }
                &_msg {
                    background: #fff;
                    padding: 3rem;
                    width: 62%;
                    float: left;  
                    z-index: -1;
                    box-shadow: 0 .5rem 2rem 0 rgba($color-blk, .08);
                        img { margin: 0 0 2rem; }
                        p {
                        font-size: 1.6rem;
                        line-height: 1.5;
                        font-style: italic; }
                    }   
                }
        &_associate {
            display: inline-block;
            padding: 0 4rem;
                img { margin: 5rem 0 5rem 7rem; }
        }
    }  

    /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    font-size: 3rem;
    transition: 0.6s ease;
    user-select: none;
    color: $light-grey;
  }
  /* Position the "next button" to the right */
.next { right: 0; }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: lighten($color-blk, 60%);
  }

  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 2.5rem .5rem 0;
    background-color: lighten($color-blk, 60%);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: $color-purple;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }

// feature styles for the slack homepage 

    .feature {
        &_container {
            margin: 0 0 8rem;
        }
        &_top {
            padding: 2rem 0 4rem;
        }
        &_box {
            height: 39.5rem;
            z-index: -1;
            box-shadow: 0 0 1.5rem .5rem rgba($color-blk, .08);
            padding: 1.2rem;
            &:hover {
                transform: scale(1.05) translateY(1rem);
                transition: all .3s ease-out;
            }
        }
        &_msg { padding: 1rem 0 2rem; }
    }

    .workplan {
        background: $color-dkpurple;
        &_top {
            padding: 5rem 0;
            text-align: center;
            h1 { color: $color-wh; }
        }
            &_btn { margin: 5rem 0;
            a {
            border: 1px solid $color-wh;
                &:first-child { color: $color-dkpurple; }
                &:last-child { color: $color-wh; }
        }   
    }   
}


    .footer {
        font-family: sans-serif;
        .container {
            @include clear;
            width: $content-width;
            padding: 3rem 0;
            min-height: 70vh;
            &_wrapper1 {
                float: left;
                width: 35%;
            }
            &_wrapper2 {
                float: left;
                color: $light-grey;
                width: 65%;
                position: relative;
                font-size: 1.25rem;
                span { padding: .5rem .5rem 0; font-weight: 600;}
                a {
                    color: $light-grey;
                    padding: .5rem;
                    &:hover { color: $color-blue; }
                }
                &_product {
                    position: absolute;
                    ul li { margin: 1rem 0; }
                }
                &_team {
                    position: absolute;
                    left: 25%;
                    ul li { margin: 1rem 0; }
                }
                &_resources {
                    position: absolute;
                    left: 50%;
                    ul li { margin: 1rem 0; }
                }
                &_company {
                    position: absolute;
                    left: 75%;
                    ul li { margin: 1rem 0; }
                }
            }      
        }
    }

    .footer-msg {
        padding: 2.5rem 5rem;
        background-color: lighten($color-wh, 2%);
        @include clear;
    }
    .footer-msg .privacy {
        span {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            float: left;
            margin: 0 1.5rem 0 0;
            color: $light-grey;
            a:hover { color: $color-blue; }
        }
    }
    .socialmedia {
        float: right;
        a:hover { color: $color-blue; }
        .fa {
            font-size: 2.3rem;
            margin: 0 1.2rem 0 0;
            color: darken($light-grey, 20%);
        }
    }
    .copyright {
        padding: 1rem 5rem;
        background-color: lighten($light-grey, 48%);
        font-size: 1rem;
    }


    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}